<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function() {
            $('#downloadBtn').click(function() {
                window.location.href = 'ktgenius://push?url=/mobile/m/support/notice/noticeList.do&test=1212231';
                // window.location.href = '/api/v1/file';
                // window.location.href = 'itms-services://?action=download-manifest&amp;url=https://drive.google.com/file/d/1bmSQh55kwghDotaal1Sk2dfISVn9utT6/view?usp=drive_link';
                /*$.ajax({
                    url: '/api/v1/file',
                    type: 'GET',
                    success: function(data) {
                    },
                    error: function() {
                        // 오류가 발생하면 알림을 표시합니다.
                        alert('파일을 다운로드할 수 없습니다.');
                    }
                });*/
            });

            $('#checkIn').click(function() {
                window.location.href = $("#input").val();
            });

            $('.fileDown').click(function() {
                // let urlValue = 'https://www.naver.com';
                // window.ReactNativeWebView.postMessage(JSON.stringify({ type : 'openUrl', url : urlValue }));

                window.ReactNativeWebView.postMessage(JSON.stringify({ type : 'fileDown', url : 'https://c7dc-211-36-151-238.ngrok-free.app/file/download/login.pptx', data: { fileNm: 'login.pptx' } }));
            });

        });
    </script>
</head>
<body>
<div style="display: flex; font-size:50pt; gap: 30px; flex-direction: column; justify-content: center; padding: 50px">
    <button th:id="downloadBtn" style="font-size:50pt;">deep link test</button>

    <div>
        <input type="text" value="ktgenius://link/checkin" th:id="input"  style="font-size:30pt;"/>
        <button th:id="checkIn" style="font-size:50pt;">checkIn</button>
    </div>

    <button th:id="openCamera" style="font-size:50pt;">openCamera</button>

    <button th:id="changePin" style="font-size:50pt;">changePin</button>

    <button th:id="changeBio" style="font-size:50pt;">changeBio</button>

    <button th:id="changeMobileLogin" style="font-size:50pt;">changeMobileLogin</button>

    <button th:id="openUrl" style="font-size:50pt;">openUrl</button>

    <button th:class="fileDown" style="font-size:50pt;">fileDown</button>

    <div th:inline="none" style="font-size:50pt;">
        <a href="itms-services://?action=download-manifest&url=https://c7dc-211-36-151-238.ngrok-free.app/file/download/manifest-test.plist">다운로드</a>
    </div>

    <div th:inline="none" style="font-size:50pt;">
        <a href="/file/download/지니어스 사용자 매뉴얼.pdf">
            DOWNLOAD
        </a>
    </div>
</div>
</body>
</html>