<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function() {
            $('#downloadBtn').click(function() {
                window.location.href = 'ktgenius://push?url=/mobile/m/support/notice/noticeList.do&test=1212231';
                // window.location.href = '/api/v1/file';
                // window.location.href = 'itms-services://?action=download-manifest&amp;url=https://drive.google.com/file/d/1bmSQh55kwghDotaal1Sk2dfISVn9utT6/view?usp=drive_link';
                /*$.ajax({
                    url: '/api/v1/file',
                    type: 'GET',
                    success: function(data) {
                    },
                    error: function() {
                        // 오류가 발생하면 알림을 표시합니다.
                        alert('파일을 다운로드할 수 없습니다.');
                    }
                });*/
            });

            $('#checkIn').click(function() {
                window.location.href = $("#input").val();
            });

        });
    </script>
</head>
<body>
    <button th:id="downloadBtn" style="font-size:50pt;">deep link test</button>
    <br>
    <input type="text" value="ktgenius://link/checkin" th:id="input"  style="font-size:30pt;"/>
    <button th:id="checkIn" style="font-size:50pt;">checkIn</button>
    <br>
    <button th:id="openCamera" style="font-size:50pt;">openCamera</button>
    <br>
    <!--    <button th:id="changePin">changePin</button>-->
<div th:inline="none" style="font-size:50pt;">
    <a href="itms-services://?action=download-manifest&url=https://916d-220-70-19-87.ngrok-free.app/file/download/genius-test.plist">다운로드</a>
</div>

</body>
</html>